spring:
  application:
    name: netbarAdminSystem
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/netbar_db
    username: root
    password:
#  jpa:
#    hibernate:
#      ddl-auto: create

jwt:
  secret:
  expiration: 86400000

server:
  port: 8080